body {}

#container {
    background-color: rgb(245, 245, 245);
    /*display: block;*/
    max-height: 740px;
    border: 2px solid rgb(0, 0, 0);
    height: 100%;
    width: 50%;
    text-align: center;
    border-radius: 4em;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, .6);
}

#forFlex {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 290px;
    margin-bottom: 0px;
    background-color: yellow;
}

#headerContainer {
    display: flex;

}

#title {
    font-size: 30px;
    margin-left: 119px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#scoreAtTop {
    width: 50%;
    font-size: 30px;
    color: rgb(255, 72, 0);
    align-self: center;
}

/* for small mobile screen
#alternateContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
    */

#messageUnderRow2 {
    
}

#canvasPlayerRow2{
    background-color: blueviolet;
}


#containsUpperButtons{

    margin-top: 80px;
    
}

input{
    font-size:.4em;
}

#container {
 
    background-color: rgb(2, 255, 255);

    }

#forFlex {
   
   background-color:yellow;
}

#canvasPlayerRow3{
    background-color: red;
}







@media (min-width: 0px) {
    
    #container{
        
        min-width: 500px;
       
    }
    
    
}



/*upper box*/
@media screen and (min-width: 1062px){

    #forFlex {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    #flex {
        display: none;
    }

    #item {
        display: none;
    }

    #alternateContainer {
        background-color: tomato;
        display: none;
    }

    #container {
       
        background-color:green;
    }
}

